/APTBPOSTagger.class
/CAmendLexeltCorpus.class
/CArgumentManager.class
/CJWNL.class
/COpenNLPPOSTagger.class
/COpenNLPSentenceSplitter.class
/COpenNLPTokenizer.class
/CPTBWNLemmatizer.class
/CPair.class
/CPennTreeBankTokenizer.class
/CScorer$Instance.class
/CScorer.class
/CSurroundingWordFilter.class
/CWordNetLemmatizer.class
/CWordNetSenseIndex$SenseType.class
/CWordNetSenseIndex.class
/ILemmatizer.class
/IPOSTagger.class
/ISenseIndex.class
/ISentenceSplitter.class
/ITokenizer.class
